doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
        title #{title}
    body 
        .container 
            form#form.form(action="/api" method="POST")
                h2 Register With Us 
                .form-control 
                    label(for="username") Username 
                    input(type="text" placeholder="Enter Username")#username  
                    small Error message 
                
                .form-control 
                    label(for="email") Email 
                    input(type="text" placeholder="Enter email")#email  
                    small Error message 

                .form-control 
                    label(for="password") Password 
                    input(type="password" placeholder="Enter password")#password  
                    small Error message 
                
                .form-control 
                    label(for="password") Confirm Password 
                    input(type="password" placeholder="Enter password again")#password  
                    small Error message 
                
                button(type="submit") Submit 

        script(src="../app.js")                     